#articleListItem {
    position: relative;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.8);
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0
}

#articleTitle {
    position: absolute;
    color: white;
}

#bookmark {
    position: absolute;
    right: 0;
    height: 100px;
    width: 150px;
    background: beige;
}

#bookmark:hover {
    background: red;
}

#bookmark > img:hover {
    filter: invert(100%);
}

#bookmark > img {
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 80px;
    width: 80px;
}
