<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>

    <link rel='stylesheet' type='text/css' href='/css/home.css'>
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <link rel='stylesheet' type='text/css' href='/css/saloon.css'>
    <link rel='stylesheet' type='text/css' href='/css/articles.css'>
    <link rel='stylesheet' type='text/css' href='/css/bookmark.css'>
    <link rel='stylesheet' type='text/css' href='/css/notes.css'>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
</head>
<body>

    {{{body}}}


    <script type='text/javascript' src='/js/home.js'></script>
    <script type='text/javascript' src='/js/article.js'></script>
    <script type='text/javascript' src='/js/notes.js'></script>
</body>
</html>