<div id='homeContainer'>
    {{> home/index}}
</div>

<div id='mainContainer'>
    <div id='saloon'>
        {{> saloon/index}}
    </div>
    <div id='articleContainer'>
        {{> articles/index}}
    </div>
</div>
