{{#each articles}}
    <div id='articleListItem'>
        <h1 id='articleTitle'>{{title}}</h1>
        <div id='note'>
            <img src='/images/notebook.png'/>
        </div>
    </div>
{{/each}}