
{{#each articles}}
    <div id='articleListItem'>
        <h1 id='articleTitle'>{{title}}</h1>
        <div id='bookmark'>
            <img src='/images/bookmark.png'/>
        </div>
    </div>
{{/each}}


